@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-padrao: "Nanum Myeongjo", serif;
    --color-header: rgba(245, 245, 220, 0.512);
    --cor1: #9caf88;
    --cor2: #fff6e5;
    --cor3: #667349;
}
body{
        background-color: var(--cor1);
}

.textandimage{
    visibility: hidden;
}