#convite{
    background-image: url('../../assets/images/Convite\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#convite h1{
    font-size: 60px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    margin-top: 100px;
    color: var(--color3);
}
#convite button{
    margin-bottom: 70px;
    width: 20vw;
    padding: 15px;
    background: transparent;
    border: 2px solid var(--color3);
    color: var(--color3);
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
#convite button:hover{
    transform: scale(1.08);
}
@media (max-width: 768px){

    #convite{
        padding: 30px 20px;
        background-position: center;
    }

    #convite h1{
        font-size: 40px;
        margin-top: 60px;
    }

    #convite button{
        width: 70vw;
        margin-bottom: 40px;
    }

}

@media (max-width: 480px){

    #convite h1{
        font-size: 30px;
    }

}