@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Monsieur+La+Doulaise&family=Pinyon+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color4);
}
body,html{
    overflow-x: hidden;
}
img{
    width: 100%;
}

:root{
    --font1: "Poppins", sans-serif;
    --font2: "Nanum Myeongjo", serif;

    --color1: #fffaf0; /* texto claro */
    --color2: #5b4747; /* texto escuro */
    --color3: #f4912c; /* laranja */
    --color4: #f7e7e7; /* fundo suave */
    --color5: #fdc34e; /* dourado */

    --color6: #fd0283; /* rosa */
    --color7: #3c733a; /* verde */
    --color8: #6b4ca5; /* roxo/lavanda */
}

main h1, main p, .title, .box, article h1, .local1, .local2, .presents h1, .presents p, #convite{
    visibility: hidden;
}