
main{
    width: 100%;
}
.main{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 100px auto;
    text-align: center;
}
main h1{
    font-family: var(--font1);
    font-weight: 400;
    color: var(--color5);
    font-size: 40px;
}
main p{
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    color: var(--color5);
}
@media (max-width: 1024px){

    .main{
        width: 90%;
    }

}

@media (max-width: 768px){

    main{
        padding: 30px 0;
    }

    .main{
        width: 90%;
        margin: 0 auto;
        gap: 20px;
    }

    main h1{
        font-size: 32px;
    }

    main p{
        font-size: 16px;
        line-height: 28px;
    }

}

@media (max-width: 480px){

    main h1{
        font-size: 26px;
    }

    main p{
        font-size: 14px;
    }

}