@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Monsieur+La+Doulaise&family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
:root{
    --font1: "Imperial Script", cursive;
    --color1: #674846;
}
img{
    width: 100%;
}
/* Efeito de Scroll */
.married h1, #history img, .history img, .history h1, .history p, .gallery h1, .gallery img, #sobre h1, #sobre p{
    visibility: hidden;
}