@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Monsieur+La+Doulaise&family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
:root{
    --font1: "Imperial Script", cursive;
    --font2: "Poppins", sans-serif;
    --color1: #674846;
    --color2: #06402b;
    --color3: #9caf88;
    --color4: #fff6e5;
    --color5: #667349;
}
img{
    width: 100%;
}
/* Efeito de Scroll */
.married h1, #history img, .history img, .history h1, .history p, .gallery h1, .gallery img, #sobre h1, #sobre p{
    visibility: hidden;
}