@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Monsieur+La+Doulaise&family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:
    linear-gradient(
        180deg,
        #f7e7e7,
        #fff8f0
    );
}
:root{
    --font1: "Imperial Script", cursive;
    --font2: "Poppins", sans-serif;

    /* Texto */
    --color1: #5b4747;

    /* Verde do reino */
    --color2: #3c733a;

    /* Dourado Rapunzel */
    --color3: #fdc34e;

    /* Fundo principal */
    --color4: #f7e7e7;

    /* Destaques */
    --color5: #f4912c;

    /* Rosa Rapunzel */
    --color6: #fd0283;

    /* Lavanda derivada */
    --color7: #c9b5dd;

    /* Roxo profundo */
    --color8: #6b4ca5;

}
img{
    width: 100%;
}
/* Efeito de Scroll */
.married h1, #history img, .history img, .history h1, .history p, .gallery h1, .gallery img, #sobre h1, #sobre p{
    visibility: hidden;
}